* {
  box-sizing: border-box;
}

body{
  margin: 0pt;
  background-color:#CD853F;
  border-style: solid;
  border-width: thick;
  border-color: #ffe6e6;
}

/*Adds content after the row class*/
.row::after {
  content: "";
  clear: both;
  display: block;
}

/*Apply styling to a group of classes*/
[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  color: #ffffff;
  padding: 15px;
  border-style: solid;
  border-width: medium;
  border-color: #ffe6e6;
}

.border{
  border-style: solid;
  border-width: medium;
  border-color: #ffe6e6;
}

.title {
  padding: 15px;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 15%;
}

.subTitle {
  padding: 15px;
  text-align: center;
}

.aside {
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  float: left;
  width: 100% ;
  background-color: #ff9933;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  border-style: solid;
  border-width: medium;
  border-color: #ffe6e6;
}

/* For desktop: */
.col-0 {width: 20%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}


.oval21 {
  height: 300px;
  width: 400px;
  background-color:#A52A2A;
  border-radius: 10%;
  font-size:25pt;
  align:left;

}
  .oval22 {
    height: 400px;
    width: 900px;
    background-color:#A52A2A;
    border-radius: 10%;
    text-align: center;
    font-size: 25pt;
  }


  .parallelogram {
  	width: 700px;
  	height: 100px;
  	transform: skew(20deg);
  	background:#A52A2A;
      font-size:70pt;
  }


  .oval24 {
    height: 500px;
    width: 200px;
    background-color:#A52A2A;
    border-radius: 10%;
    font-size:25pt;
  }

  .oval25 {
      height: 550px;
      width: 200px;
      background-color:#A52A2A;
      border-radius: 10%;
      font-size:11pt;

    }


    .oval26 {
      height: 300px;
      width: 800px;
      background-color:#A52A2A;
      border-radius: 10%;
      font-size:30pt

    }


    .circle34 {
      height: 130px;
      width: 100px;
      background-color:#A52A2A ;
      border-radius: 20%;
    }

    .rectangle {
      height: 100px;
      width: 350px;
      background-color:#A52A2A;
      font-size:20pt;
    }


    .circle56 {
  height: 100px;
  width: 300px;
  background-color:#A52A2A;
  border-radius: 10%;
  font-size:18pt;
}


.circle57 {
  height: 600px;
  width:650px;
  background-color:#A52A2A ;
  border-radius: 10%;
}


.circle58 {
  height: 600px;
  width: 650px;
  background-color:#A52A2A ;
  border-radius: 10%;
}


.circle67 {
  height: 500px;
  width: 500px;
  background-color:#A52A2A;
  border-radius: 10%;
}


.circle69 {
  height: 150px;
  width: 400px;
  background-color:#A52A2A;
  border-radius: 10%;
}


.circle46 {
  height: 300px;
  width: 300px;
  background-color:#A52A2A ;
  border-radius: 50%;
}



.oval78 {
  height: 100px;
  width: 400px;
  background-color:#A52A2A;
  border-radius: 10%;
  font-size:25pt;
}

.oval79 {
  height: 250px;
  width: 400px;
  background-color:#A52A2A;
  border-radius: 10%;
  font-size:25pt;
}



.oval76 {
  height: 120px;
  width: 400px;
  background-color:#A52A2A;
  border-radius: 10%;
  font-size:25pt;
}


.oval77 {
  height: 120px;
  width: 400px;
  background-color:#A52A2A;
  border-radius: 10%;
  font-size:25pt;
}


.oval23 {
  height: 350px;
  width: 350px;
  background-color:#A52A2A;
  border-radius: 20%;
  font-size:13pt;
}
